<ion-view view-title="Change Password">
 <ion-header class="bar bar-header login-header">
  <a href="javascript:void(0)" class="back-btn"><i class="icon ion-chevron-left"></i></a>
   <h1 class="title">Change Password</h1>
 </ion-header>
<ion-content class="home">
  <div class="login-form">
    <div class="row">
      <div class="col-80 col-offset-10">
        <form name="password_form" id="password" class="list" ng-submit="changePassword(pass)" novalidate>
            <div class="row">
              <div class="col">
                <div class="title"> 
                  <img alt="Company Logo" height="156" src="img/logo.png">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">

                <div class="list">
                    <label class="item item-input  form-field" ng-class="{'has-error':password_form.oldpassword.$invalid &&  !password_form.oldpassword.$pristine}">
                          <input type="Password" required ng-model="pass.oldpassword" name="oldpassword" id="oldpassword"  placeholder="Old Password" maxlength="8">
                    </label>

                    <div class="form-error" ng-show="password_form.oldpassword.$dirty && password_form.oldpassword.$error.required" >
                      Please enter password.
                    </div>
                    

                    <label class="item item-input  form-field" ng-class="{'has-error':password_form.newpassword.$invalid &&  !password_form.newpassword.$pristine}">
                        <input type="Password" required ng-model="pass.newpassword" name="newpassword" id="newpassword" ng-pattern="/^([a-zA-Z0-9]*)$/" placeholder="New Password" maxlength="8">
                    </label>
                    <div class="form-error" ng-show="password_form.newpassword.$dirty && password_form.newpassword.$error.required" >
                      Please enter password.
                    </div>
                    <div class="form-error" ng-show="password_form.newpassword.$dirty && password_form.newpassword.$error.pattern" >
                      Please do not use special character.
                    </div>

                    <label class="item item-input  form-field" ng-class="{'has-error':password_form.confirmpassword.$invalid &&  !password_form.confirmpassword.$pristine}">
                        <input type="Password" required compare-to="pass.newpassword"  ng-model="pass.confirmpassword" name="confirmpassword" id="confirmpassword" ng-pattern="/^([a-zA-Z0-9]*)$/" placeholder="Confirm Password" maxlength="8">
                    </label>
                    <div class="form-error" ng-show="password_form.confirmpassword.$dirty && password_form.confirmpassword.$error.required" >
                      Please enter password.
                    </div>
                    <div class="form-error" ng-show="password_form.confirmpassword.$dirty && password_form.confirmpassword.$error.pattern" >
                      Please do not use special character.
                    </div>
                    <div class="form-error" ng-show="password_form.confirmpassword.$invalid &&  !password_form.confirmpassword.$pristine" >Passwords don't match. </div>
                    </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button  ng-disabled="password_form.$invalid"  class="button button-block login-btn">
                         SAVE
                      </button>
                    </div>
              </div>
        </form>
      </div>
    </div>
  </div>
  <div class="login-footer"><p>© 2016 OddJob. All Rights Reserved.</p></div>
</ion-content>
  <!-- <ion-footer class="bar bar-footer login-footer">
       <p>© 2016 OddJob. All Rights Reserved.</p>
  </ion-footer> -->

</ion-view>
