<ion-view view-title="Forgot Password">
  <ion-header class="bar bar-header login-header">
   <h1 class="title">Forgot Password</h1>
 </ion-header>

 <ion-content class="home">
    <div class="login-form">
      <div class="row">
        
          <div class="col-80 col-offset-10">
              <div class="row">
                    <div class="col">
                        <div class="title"> <img alt="Company Logo" height="156" src="img/logo.png"></div>
                    </div>
                </div>
               <form name="forgot" ng-submit="forgotPassword(user)" novalidate>
                <div class="row">
                    <div class="col">
                        <div class="list">
                          <label class="item item-input" ng-class="{'has-error':forgot.email.$invalid && !forgot.email.$pristine}">
              
              <input  type="email" 
                    placeholder="Email..." 
                    name="email"
                    ng-model="user.email"
                    required
                    >
          </label>
          <div class="form-error" ng-show="forgot.email.$invalid && !forgot.email.$pristine" >Enter a valid email.
          </div>
                            
                  
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        
                 <button class="button button-block login-btn" type="submit" ng-disabled="forgot.$invalid">
                          Submit & Get Password
                        </button>
                    </div>
                </div>
                </form>
          </div>
        
        </div>
        
       
    </div>
     
  </ion-content>
  <!-- <ion-footer class="bar bar-footer login-footer">
       <p>© 2016 OddJob. All Rights Reserved.</p>
  </ion-footer>
 -->
</ion-view>
